*{
  padding: 0;
  margin: 0;
}
body {
  width: 1000px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: bolder;
}
header {
  background-color: rgb(83, 144, 86);
  text-align: center;
  font-size: 50px;
  line-height: 130px;
  height: 130px;
  width: 1000px;
  color: #FFFFFF;
}
#index{
  padding-top: 50px;
}
#index h2{
  text-align: center;
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  color: #568551;
  width: 500px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.container {
  display: grid;
  grid-template-columns: 0px 1fr;
}
nav {
  /* margin-top: 50px; */
  margin-left: -110px;
  font-size: 18px;
  
}
main{
  background-color:hsla(101, 31%, 57%, 0.157); 

  font-size: 70px;
  height: 1000px;
  width: 1000px;
  height: 2000px;
}
footer {
  width: 1000px;
  height: 140px;
  line-height: 70px;
  text-align: center;
  background-color: rgb(83, 144, 86);
  color: white;
  font-size: 20px;
}
a:link, a:visited {
  background-color:hsl(101, 31%, 57%); 
  color: hsl(0, 0%, 100%); 
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  width:70px;
  text-align: center;
}
a:hover, a:active { 
  background-color: #ffffff; 
  color:hsl(101, 31%, 57%); 
}

.btn{
  width: 1000px;
  /* background-color: rgb(131, 131, 131); */
  text-align: center;
}
button {
  border: none;
  background-color: rgb(101, 166, 105);
  color: white ;
  padding: 10px 20px;
  width: 220px;
  height: 50px;
  margin-left: 10px; 
  margin-right: 10px; 
  font-size: 23px;
  cursor: pointer;
  transition-duration: 0.2s;
}
button:hover {
  background-color: rgba(101, 166, 105, 0.688);
  color: white;
}
